* {
    margin: 0;
    padding: 0;
}



#drag-file {
    background: blue;
    text-align: center;
    /* display: flexbox; */
    height: 60vh;
    width: 35vw;
}
canvas {
    cursor: crosshair;
    border: 1px solid #000000;
    background: seagreen;
    
}